body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: #04173d;
  color: white;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1.5rem 4rem;
  background: #02153c;
}

.navbar nav a,
.navbar .buttons a {
  margin: 0 0.75rem;
  text-decoration: none;
  color: white;
}

.buttons a:last-child {
  background-color: rgb(30, 150, 210);
  font-weight: 500;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;

}
.container{
display: flex;
margin: 1rem auto;
justify-content: space-between;
width: 75vw;
gap: 2rem;
}

.text {
  padding: 1rem;
  align-items: center;
}

.text h1 {
  font-size: 3rem;
  margin: 0%;
}

.small-heading {
  color: #1e90ff;
  font-weight: bold;
}

.button {
  display: flex;
  gap: 0.5rem;
}

.parent {
  background: #1e90ff;
  color: white;
  padding: 0.8rem 1.2rem;
  font-weight: 500;
  text-decoration: none;
  border-radius: 0.2rem;
}

.child {
  border: 2px solid rgb(28, 117, 181);
  color: rgb(61, 142, 212);
  padding: 0.7rem 2rem;
  text-decoration: none;
  border-radius: 0.2rem;
}

.image {
  width: 500px;
  height: 500px;
  position: relative;
  
}
.circle{
  position: absolute;
  width:360px;
  height: 360px;
  background: #6ee7b7; 
  border-radius: 50%;
  top: 42%;
  left: 53%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.person{
  position: absolute;
  width: 100%;
  z-index: 1;
}

.box {
  position: absolute;
  border:20px;
  width: 135px;
  z-index: 3;
}
.box:hover{
  scale: 1.1;
}

.box2{
  position: absolute;
  z-index: 3;
  bottom: -60px;
  right: 5px;

}
.box2:hover{
  scale: 1.1;
}

.box1{
  position: absolute;
   z-index: 1;
   bottom: -10px;
   width: 280px;
   left: -50px;
}
.box1:hover{
  scale: 1.1;
}
.box3{
  position: absolute;
  z-index: 5;
  top: 240px;
  left:-30px;
  width: 40px;
}
.box3:hover{
  scale: 1.1;
}
.box5{
  position: absolute;
  z-index: 5;
  right: 40px;
  bottom: 400px;
}
.box5:hover{
  scale: 1.1;
}
.box4{
  position: absolute;
  z-index: 0;
  bottom: -65px;
  left: 240px;
}
.box4:hover{
  scale: 1.1;
}